.ml-2 {
    margin-left: 0.5rem;
  }

.filter-container {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}
  
.filter-container input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  padding-right: 30px; 
}

.search-icon {
  position: absolute;
  right: 10px;
  color: #aaa;
}
  